.canvas	
{
	display: inline;
	position: relative;
	border:1px;
	border-color:; #000000;
	background:#0F9F00;
	box-shadow: 10px 10px 5px #888888;
	width:200px;
	height:200px;
}

.button	
{
	display: inline;
	position: relative;
	border:1px;
	border-color:; #000000;
	background:#0F9F00;
	box-shadow: 5px 5px 3px #888888;
	width:15px;
	height:15px;
}

/*.tooltip:hover:after
{
	content: attr(tooltip);
	background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tootip:hover:before
{
	border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/
