.canvas        
{
        display: block;
        border:1px;
        border-color:; #000000;
        background:#0F9F00;
        box-shadow: 10px 10px 5px #888888,
 	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
        width:200px;
        height:200px;
        cursor:crosshair;
}

.toolbar        
{
        display: block;
        background-color: rgba(0,0,0,.3);
        box-shadow: 10px 10px 5px #888888,
        inset 0 -1px 1px rgba(0,0,0,0.5),
        inset 0 1px 1px rgba(255,255,255,0.8);
        width:200px;
        height:20px;
        margin-bottom:3px;
}

.button       
{	
    box-shadow: 1px 1px 1px #000000, -1px -1px 2px #FFFFFF;
    display: inline;
    float: left;
    height: 15px;
    margin-right: 2px;
    margin-top: 2.5px;
    width: 15px;
    margin-left: 2px;
}

/*.tooltip:hover:after
{
	content: attr(tooltip);
	background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tootip:hover:before
{
	border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/
